.sample-fragment {
  color: inherit;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.titulo-principal{
	border-bottom: 1px solid #E76D0B;
	padding-bottom: 10px;
}

.titulo-secundario{
	font-size: 20px;
}

.separador{
	border-bottom: 1px solid #dddd;
}

.margin-bottom-padrao{
	margin-bottom: 30px;
}

.sem-underline{
	text-decoration: none;
}

.lista-links{
	list-style: none;
	padding: 0;
}

.itens-lista{
	padding: 5px 0;
}

.cor-vermelha{
	color: #ff0000;
}